.loaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #b2dfdb;
    border-top: 6px solid #004d40;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
  }
  
  .text {
    font-size: 1.2rem;
    color: #00695c;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  